.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: lightgrey;
  width: 50vw;
  height: 50vh;
}

input {
  outline: none;
}
